body,
html {

    margin: 1rem;
    font-family: sans-serif;
    line-height: 1.5;
    color:#819FF7;
    background-color:#c3e2ec;



}



/* Mobile
-------------------------------------------------- */

@media screen and (max-width: 650px) {

  
} 

